#details-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
}

#flower-body {
    width: 100%;
    height: 60%;    
}

#comments-body {
    width: 80%;
    height: 50%;
   
}