#homeblock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homesprite {
    width: 50%;
    
}

#home-welcome {
    
    width: 50%;
    text-align: center;
    font-family: 'Fragment Core'
}