#section-block {
    
    width: 100%;
    height: 80%;
}

#comment-top {

display: flex;

}
#comment-top * {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    
}

#comments-inside {
    border: 1px solid white;
    width: 100%;
    height: 70%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

#comments-inside::-webkit-scrollbar {
    
    height: 20%;
        
}

#comments-inside::-webkit-scrollbar-track {
    background: transparent;
}

#comments-inside::-webkit-scrollbar-thumb {
    background: transparent;
    border: .5px solid white;
    border-radius: 20px;
}

#comments-inside::-webkit-scrollbar-thumb:hover {
    background: #203C54FF;
}



#comments-inside::-webkit-scrollbar-corner {
    background: transparent;
}


#make-comment {
    width: 80%;
}

@media (width: 375px) and (height: 667px), (width: 390px) and (height: 844px), (width: 540px) and (height: 720px), (width: 344px) and (height: 882px), (width: 412px) and (height: 914px) {
    #section-block {
        scale: 80%;
        position: relative;
        bottom:60px;
        width: 350px;
        right: 55px;
    }
    
    
    
}

@media  (width: 414px) and (height: 896px) {
    #section-block {
        scale: 80%;
        position: relative;
        bottom:60px;
        width: 400px;
        right: 70px;
    }
    
    
    
}

@media  (width: 430px) and (height: 932px) {
    #section-block {
        scale: 80%;
        position: relative;
        bottom:60px;
        width: 410px;
        right: 70px;
        height: 400px;
    }
    
}

@media  (width: 412px) and (height: 915px) {
    #section-block {
        scale: 80%;
        position: relative;
        bottom:60px;
        width: 390px;
        right: 65px;
        height: 400px;
    }
}


@media  (width: 360px) and (height: 740px) {
    #section-block {
        scale: 80%;
        position: relative;
        bottom:60px;
        width: 350px;
        right: 60px;
        height: 230px;
    }
}

@media  (width: 768px) and (height: 1024px)  {
    #section-block {
        scale: 100%;
        position: relative;
        bottom:20px;
        width: 600px;
        right: 60px;
        height: 400px;
    }
}

@media  (width: 820px) and (height: 1180px)  {
    #section-block {
        scale: 100%;
        position: relative;
        bottom:20px;
        width: 640px;
        right: 55px;
        height: 500px;
    }
}

@media  (width: 1024px) and (height: 1366px)  {
    #section-block {
        scale: 100%;
        position: relative;
        bottom:20px;
        width: 750px;
        right: 55px;
        height: 500px;
    }

    #comment-top {
        scale: 120%;
        position: relative;
        left: 70px;
        bottom: 10px;
    }
}

@media  (width: 912px) and (height: 1368px)  {
    #section-block {
        scale: 100%;
        position: relative;
        bottom:20px;
        width: 700px;
        right: 55px;
        height: 500px;
    }

    #comment-top {
        scale: 120%;
        position: relative;
        left: 70px;
        bottom: 10px;
    }
}

@media  (width: 540px) and (height: 720px)  {
    #section-block {
        scale: 90%;
        position: relative;
        bottom:20px;
        width: 450px;
        right: 55px;
        height: 200px;
    }

    #comment-top {
        scale: 120%;
        position: relative;
        left: 70px;
        bottom: 10px;
    }
}

@media  (width: 344px) and (height: 882px)  {
    #section-block {
        scale: 90%;
        position: relative;
        bottom:20px;
        width: 300px;
        right: 40px;
        height: 250px;
    }

    #comment-top {
        scale: 120%;
        position: relative;
        left: 70px;
        bottom: 10px;
    }
}

@media  (width: 853px) and (height: 1280px)  {
    #section-block {
        scale: 90%;
        position: relative;
        bottom:20px;
        width: 700px;
        right: 70px;
        height: 600px;
    }

    #comment-top {
        scale: 150%;
        position: relative;
        left: 150px;
        bottom: 20px;
    }
}

@media  (width: 412px) and (height: 914px)  {
    #section-block {
        scale: 90%;
        position: relative;
        bottom:20px;
        width: 320px;
        right: 30px;
        height: 250px;
    }

    #comment-top {
        scale: 100%;
        position: relative;
        left: 10px;
        bottom: 20px;
    }
}


@media  (width: 1024px) and (height: 600px)  {
    #section-block {
        scale: 90%;
        position: relative;
        bottom:20px;
        width: 850px;
        right: 100px;
        height: 200px;
    }

    #comment-top {
        scale: 90%;
        position: relative;
        left: -50px;
        bottom: 10px;
    }
}
