@font-face {
  font-family: 'Vavon';
  src: url('./assets/fonts/Vavont.woff') format('woff');
}

@font-face {
  font-family: 'Fragment Core';
  src: url('./assets/fonts/FragmentCoreRom.woff') format('woff');
}

@font-face {
  font-family: "Levorotary";
  src: url('./assets/fonts/Levorotary.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
 height: 100vh;

}

#root {
  flex-grow: 1;
  background-color: black;
  color: white;
width: 100%;
height: 100%;

  display: flex;
 justify-content: center;
 align-items: center;
 

}

#app-root {
  
  background-color: #051A2DFF;
  width: 40%;
  height: 0%;
  
  overflow: hidden;
}

@keyframes apppan {
  0% {
    width: 80%;
    height: 0%;
  }


  70%  {
    width: 80%;
    height: 0%;
  }
  80% {
    width: 80%;
    height: 80%;
  }
  100% {
    width: 80%;
    height: 80%;  
  }

}

#intro-root {
  display: flex;
  justify-content: center;
  background-color: #474747FF;
  width: 0%;
  height: 0%;
  animation: intropan 2s linear 1s forwards;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  background-image: none;
  background-size: cover;
}


@keyframes intropan {
  0% {
    width: 342px;
    height: 0%;
  }
  5% {
    width: 342px;
    height: 15%;
  }
  10% {
    width: 342px;
    height: 187.75px;
  }
   
  

  100% {
    width: 342px;
    height: 187.75px;
    
  }
  
  
  
  
  
}





ul {
  list-style-type: none;
}


a {
  color: lightgreen;
  text-decoration: none;
  font-family: "Vavont";
  font-size: 20px;
}
a:hover{
  color: lightyellow;
}

nav {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
}

nav * {
  font-weight: bold;
}
#link-list {
  justify-self: right;
  display: flex;
  justify-content: space-between;
  width: 50%;
}



input {
  background: transparent;
  border: 1px solid white;
  color: white;
  margin: 5px;
}
 input::placeholder {
  color: gray;
 }
label {
  font-family: 'Fragment Core';
}

 button {
  background: transparent;
  border: 1px dashed white;
  color: white;
  font-family: 'Vavont';
  font-weight: bold;
  height: 30px;
  font-size: 20px;
  min-width: 80px;
  cursor: pointer;
 }
 button:hover {
  background: white;
  border-color: black;
  color: black;
 }
 
 #intro-button  {
  width: 50px;
  min-width: 45px;
  height: 45px;
  border: 1px solid transparent;
  border-radius: 70px;
  background-image: url('./assets/images/IntroButton.gif');
  background-size: cover;
  position: absolute;
  bottom: 15px;
  display: none;
  cursor: pointer;
  box-shadow: 5px 3px rgb(112, 112, 112);
 
}

#logout-button {
  color: lightgreen;
  text-decoration: none;
  font-family: "Vavont";
font-size: 20px;
border: none;
font-weight: normal;
height: inherit;
width: inherit;
min-width: inherit;
font-weight: bold;
}

#logout-button:hover {
  background: none;
  color: lightyellow;

} 

h2 {
  font-family: "Levorotary";
  font-size: 30px;
}


textarea {
  background: transparent;
  border: 2px solid white;
  color: white;
  
}

textarea::placeholder {
  color: gray;
}


/* @media (max-width: 430px) { */
  /* #link-list { */
     /* width: 100%; */
  /* } */
/*  */
  /* nav { */
    /* scale: 90%; */
  /* } */
/*  */
  /* #logout-button { */
    /* margin-bottom: 20px; */
  /* } */
/* } */

@media (width: 1280px) and (height: 800px) {
  nav {
    scale: 125% !important;
  }
}

@media (width: 1024px) and (height: 1366px) {
  nav {
    scale: 120% !important;
  }
}

@media (width: 1024px) and (height: 600px) {
  nav {
    scale: 120% !important;
  }
}

@media (max-width: 801px) {
  nav {
    scale: 100% !important;
  }
  #logout-button {
      margin-bottom: 30px !important;
      margin-right: 30px !important;
  }
}

@media (width: 768px) and (height: 1024px) {

  nav {
    scale: 120%;
  }
  
  #logout-button {
    margin-bottom: 30px;
    margin-right: 30px;
  }
}

@media (width: 412px) and (height: 914px) {

  nav {
    scale: 90% !important;
  }
}

@media (width: 375px) and (height: 667px) {
  nav {
    scale: 80% !important;

  }
  #link-list {
    width: 100% !important;
  }
  #logout-button {
    margin-bottom: 60px !important;
  }
}


@media (width: 280px) and (height: 653px) {
  #link-list {
   width: 50% !important;
   
  }
  nav * {
   margin-right: 10px !important;
  }
   nav {
    scale: 75% !important;
    width: 60% !important;
    
    
   }

}

@media (width: 360px) and (height: 740px) {
  nav {
    scale: 90% !important;
  }
  #link-list {
    width: 100% !important;
  }
}

@media (width: 344px) and (height: 882px) {
  nav {
    scale: 85% !important;
  }
  #link-list {
    width: 100% !important;
  }
}

@media (width: 414px) and (height: 896px), (width: 390px) and (height: 844px), (width: 430px) and (height: 932px), (width: 412px) and (height: 915px), (width: 344px) and (height: 882px), (width: 412px) and (height: 914px) {
  nav * {
    margin: 2px;
    font-size: 18px;
  }
}