@font-face {
  font-family: 'Vavon';
  src: url('./assets/fonts/Vavont.woff') format('woff');
}

@font-face {
  font-family: 'Fragment Core';
  src: url('./assets/fonts/FragmentCoreRom.woff') format('woff');
}

@font-face {
  font-family: "Levorotary";
  src: url('./assets/fonts/Levorotary.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
 height: 100vh;

}

#root {
  flex-grow: 1;
  background-color: black;
  color: white;
width: 100%;
height: 100%;

  display: flex;
 justify-content: center;
 align-items: center;
 

}

#app-root {
  
  background-color: #051A2DFF;
  width: 40%;
  height: 0%;
  
  overflow: hidden;
}

@keyframes apppan {
  0% {
    width: 80%;
    height: 0%;
  }


  70%  {
    width: 80%;
    height: 0%;
  }
  80% {
    width: 80%;
    height: 80%;
  }
  100% {
    width: 80%;
    height: 80%;  
  }

}

#intro-root {
  display: flex;
  justify-content: center;
  background-color: #474747FF;
  width: 0%;
  height: 0%;
  animation: intropan 2s linear 1s forwards;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  background-image: none;
  background-size: cover;
}


@keyframes intropan {
  0% {
    width: 342px;
    height: 0%;
  }
  5% {
    width: 342px;
    height: 15%;
  }
  10% {
    width: 342px;
    height: 187.75px;
  }
   
  

  100% {
    width: 342px;
    height: 187.75px;
    
  }
  
  
  
  
  
}





ul {
  list-style-type: none;
}


a {
  color: lightgreen;
  text-decoration: none;
  font-family: "Vavont";
  font-size: 20px;
}
a:hover{
  color: lightyellow;
}

nav {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#link-list {
  justify-self: right;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

input {
  background: transparent;
  border: 1px solid white;
  color: white;
  margin: 5px;
}
 input::placeholder {
  color: gray;
 }
label {
  font-family: 'Fragment Core';
}

 button {
  background: transparent;
  border: 1px dashed white;
  color: white;
  font-family: 'Vavont';
  font-weight: bold;
  height: 30px;
  font-size: 20px;
  min-width: 80px;
  cursor: pointer;
 }
 button:hover {
  background: white;
  border-color: black;
  color: black;
 }

 #intro-button  {
  width: 50px;
  min-width: 45px;
  height: 45px;
  border: 1px solid transparent;
  border-radius: 70px;
  background-image: url('./assets/images/IntroButton.gif');
  background-size: cover;
  position: absolute;
  bottom: 15px;
  display: none;
  cursor: pointer;
  box-shadow: 5px 3px rgb(112, 112, 112);
 
}

#logout-button {
  color: lightgreen;
text-decoration: none;
font-family: "Vavont";
font-size: 20px;
border: none;
font-weight: normal;
height: inherit;
width: inherit;
min-width: inherit;
}

#logout-button:hover {
  background: none;
  color: lightyellow;

} 

 h2 {
  font-family: "Levorotary";
  font-size: 30px;
 }


textarea {
  background: transparent;
  border: 2px solid white;
  color: white;
  
}

textarea::placeholder {
  color: gray;
}



